/* Your SCSS here. */
*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    object-fit: cover;
}

